.login__button-enter {
    margin:143px 30px 20px 30px;
    padding: 0;
    width: 358px;
    height: 50px;
    background-color: #FFFFFF;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: none;
    border-radius: 2px;
    max-width: 260px;
}

.login__button-enter:hover {
    opacity: 0.8;
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .login__button-enter {
        max-width: 358px;
        margin: 186px auto auto auto;
    }
}
@media screen and (min-width: 1024px) {
    .login__button-enter {
        max-width: 358px;
        /*margin: 186px auto 210px auto;*/
        /*margin:173px auto 20px auto;*/
    }
}