.profile {
  max-width: 282px;
  margin: 0 auto 36px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .profile {
    max-width: 581px;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .profile {
    min-width: 880px;
    margin: 0px auto 51px auto;
  }
}
