.cards__items {
  max-width: 282px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .cards__items {
    margin: 0px auto 66px auto;
    max-width: 730px;
    grid-template-columns: repeat(2, minmax(282px, 282px));
    justify-content: center;
    row-gap: 17px;
    gap: 17px;
  }
}
@media screen and (min-width: 1024px) {
  .cards__items {
    max-width: 880px;
    grid-template-columns: repeat(3, minmax(282px, 1fr));
  }
}
