.header__userInformations {
    display: flex;
    justify-content: end;
    flex-direction: row;
    position: relative;
    margin-top:51px;
    max-width:50%;
}
@media screen and (max-width: 320px) {
    .header__userInformations{
        min-width: 320px;
        border-bottom: 1px solid rgba(84, 84, 84, 0.7);
        flex-direction: column;
        align-items: center;
    }
}